DB_HOST=localhost
DB_PORT=3306
DB_NAME=san_photography
DB_USER=
DB_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=SAN Photography
FRONTEND_URL=http://localhost:5173
